.container {
  margin-top: 20px !important;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 2em;
  justify-content: center;
}

.card {
  text-align: center;
  position: relative;
}

.close-icon {
  position: absolute;
  top: 10px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.fade-appear {
  opacity: 0;
}
.fade-appear-active {
  opacity: 1;
  transition: opacity 200ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
