.container {
  margin-top: 20px !important;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 2em;
  justify-content: center;
}

.card {
  text-align: center;
}
